.display{
    width: 100%;
    background-color: black;
    color: #fff !important;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100px;
}
.display h3{
    padding: 0 30px;
    font-weight: 400;
    font-size: 25px;
}