*{
    font-family: Helvetica;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calc-wrapper{
    height: 370px;
    width: 290px;
    background-color: #000000;
}
.btn-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    padding: 10px 20px;
}